*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* background: black; */
  color: white;
}
/* css for navbar */

.navbar{
  width: 100%;
  display: flex;
  padding: 20px 6%;
  position: fixed;
  color: #e5e5e5;
  font-size: 14px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7)10%, transparent);
  z-index: 1;
}

.navbar_left{
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar_left img{
  width: 90px;
}

.navbar_left ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar_left ul li{
  cursor: pointer;
}

.navbar_right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons{
  width: 30px;
  cursor: pointer;

}

.profile{
  border-radius: 4px;
  width: 35px;
}

.profile_icons{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .drop{
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background-color: rgb(50, 50, 51);
  border-radius: 4px;
  padding: 12px 18px ;
  text-decoration: underline;
  z-index: 1;
  display: none;
}

.drop p{
  font-size: 14px;
  cursor: pointer;
}

.profile_icons:hover .drop{
  display: block;
}